<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{{user.get_absolute_url}}">User : {{ user.username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'employees_structure:index' %}">Hierarchy</a></li>
  <li class="list-group-item"><a href="{% url 'employees_structure:employee-list' %}">Employees</a></li>
</ul>
